@font-face {
  font-family: 'NorseBold'; 
  src: url('./fonts/Norse-Bold.otf') format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
}


input {
    border: 2px solid #000;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
  }
  
  input:invalid {
    border-color: red;
  }
  
  input:valid {
    border-color: green;
  }